/* recipes.css */
img {
    height: aito;
    width: 500px;
}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

h3 {
    color: purple;
    background-color: cyan;
    text-align: center;
}